bold=$(tput smso)
resetColor="$(tput sgr0)"
resetBold="$(tput rmso)"
red="$(
  tput bold
  tput setaf 1
)"
green="$(
  tput bold
  tput setaf 2
)"
yellow="$(
  tput bold
  tput setaf 3
)"
blue="$(
  tput bold
  tput setaf 4
)"
